<div class="jumbotron">
  <h1 class="display-4">Mario's Special Desserts</h1>
  <p class="lead">Sweet treats from all over the world.</p>
  <hr class="my-4">
  <p>Because ...reasons</p>
</div>
<p><%= link_to "Create new product", new_product_path %></p>
<h3> Top 3 </h3>

<ul>
<% @top_three.each do |p| %>
  <li> <%= link_to p.name, product_path(p)%> </li>
<% end %>
</ul>

<h3> USA Made </h3>

<ul>
<% @usa.each do |p| %>
  <li> <%= link_to p.name, product_path(p)%> </li>
<% end %>
</ul>

<h3> Top Reviewed </h3>

<ul>
<% @top_review.each do |t| %>
  <li> <%= link_to t.name, product_path(t)%> </li>
<% end %>
</ul>

<h3>All Products</h3>
<% if @products.any? %>
<ul>
  <% @products.each do |product| %>
  <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>
<% else %>
<p>There are no products yet.</p>
<% end %>
